html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    background-color: #ffffff;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.section-title {
    font-size: 24px;
    font-weight: 600;
    color: #5ebccf;
}

.section-text {
    font-size: 16px;
    font-weight: 400;
    color: rgb(52, 52, 52);
}

.section-list {
    list-style-type: square;
    font-size: 16px;
    font-weight: 400;
    color: rgb(52, 52, 52);
}

.header {
    width: 100%;
    background-color: #5ebccf;
}

.nav-list {
    display: flex;
    justify-content: right;
    list-style-type: none;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    transition: 0.3s;
}

.nav-link:hover {
    text-shadow: 0px 0px 15px #0f859c;
    color: #fff8f8;
}

.nav-list li {
    margin-right: 15px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.offer {
    margin: 50px 0;
}

.offer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.offer-image {
    flex: 1 1 300px;
}

.offer-image img {
    width: 75%;
}

.offer-contant {
    flex: 2 1 auto;
}

